#!/bin/bash

export ETCDCTL_API=3
etcdctl --endpoints https://{{ ansible_eth0_ipv4.address }}:2379 --cert={{ cert_path }}  --key={{ key_path }}  --cacert={{ ca_path }} snapshot save {{ snapshot_dir }}etcd-snapshot-$(date +%Y%m%d%H%M).db
snapshot_status_code=$?

if [ $snapshot_status_code -ne 0 ] 
	then
		echo "The snapshot has sucessfully created!"

	else
		echo "The snapshot has failed!"
		exit
fi
