[Default]
access_key = {{ s3_access_key }}
secret_key = {{ s3_secret_key}}
host_base = {{s3_endpoint }}
host_bucket = {{ s3_endpoint }}
enable_multipart = True
multipart_chunk_size_mb = 15
use_https = True
